{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
<body>

<h2>HTML Forms</h2>

<form action="/home">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  
  <input type="submit" value="Submit">
</form> 
{{name}}
<ol>
{% for fruit in fruits %}

    <li>{{fruit}}</li>
{% endfor %}
</ol>
</body>
</html>

